header {
	background: -moz-linear-gradient(#FAFAFA, #FAFAFA) repeat scroll 0 0
		transparent;
	border-bottom: 1px solid #CACACA;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px
		rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 10;
}

header .container {
	margin: 0 auto;	
}

body {
	background-color: #FFFFFF;
	color: #333333;
}

html,body {
	height: 100%;
	min-width: 960px;
	font-size: 12px;
	font-family: sans-serif;
}

#wrapper {
	height: auto !important;
	margin: 0 0 -330px;
	min-height: 100%;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	border: 0 none;
	margin: 0;
	padding: 0;
}

footer {
	clear: both;
	color: #636363;
	font-size: 12px;
	padding: 45px 0 0;
}

#site-container {
	margin: auto;
	
}

#site-container .content {
	padding: 20px;
	position: relative;
	width: 100%;
	z-index: 9;
}

footer ul.links {
	float: left;
	margin-left: 17px;
	width: 600px;
}

footer ul.links li {
	float: left;
	list-style: none outside none;
	text-decoration: none;
	margin-right: 10px;
}

header div.container div.logo {
	float: left;
	padding-left: 10px;
}

header div.container ul.links {
	float: left;
	margin-left: 17px;
	padding: 10px;
}

header div.container  ul.links li {
	float: left;
	list-style: none outside none;
	text-decoration: none;
	margin-right: 10px;
}

.clear {
	clear: both;
}

a {
	color: #4183C4;
	text-decoration: none;
}

.font-20 {
	color: #495961;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 28px;
	margin: 0 0 10px;
	text-shadow: 1px 1px 0 #FFFFFF;
}

div.title {
	font-size: 14px;
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 28px;
	margin: 0 0 10px;
}



div.sidebar {
	float: left;
	width: 20%;
	
}

div.sidebar ul li {
	margin-left: 0px;
	padding: 0px;
}

div.article {
	float: left;
	min-width: 76%;
	border: 1px solid #999;
	border-radius: 5px 5px 0 0;
	margin-left:5px;

}

form.form table {
	
	width:100%;
	
}

form.form table tr td{
	padding: 6px 0 8px;
}

div.article .form {
	padding: 5px;
}

div.article .form input[type="text"],input[type="password"] {
	width: 200px;
}

div.banner {
	float: right;
	padding: 10px;
}

.padding-top10 {
	padding-top: 10px;
}

.login-window {
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	min-height: 300px;
	width: 190px;
}

.article-heading {
	background-color: #aaa;
	border: 1px solid #bbb;
	border-radius: 5px 5px 0 0;
	color: white;
	font-weight:bold;
	font-size: 16px;
	
	letter-spacing: 0;
	margin-bottom: 0;
	overflow: hidden;
	padding: 10px 15px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

table.list {
	border-collapse: collapse;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 20px;
    width: 100%;
}

table.list td,th {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding: 10px;
 }
 
 table.list td.center,th.center{
 text-align: center;
 }
 
 table.list td.left,th.left{
 text-align: left;
 }
 